body {
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

li {
    padding: 15px;
}

a {
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: column;
}

.footer {

}

.logo,
.header-links {
    display: flex;
    justify-content: center;
}