body {
    background-color: lightsalmon;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    padding: 15px;
}

a {
    text-decoration: none;
}

img {
    width: 200px;
    height: auto;
}

button {
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: coral;
}

.body {
    display: flex;
    flex-direction: column;
}

.content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: crimson;
    padding-bottom: 20px;
}

.content-1-left {
    padding: 10px;
}

.content-1-left > .subtitle {
    font-size: 40px;
    font-weight: 800;
}

.content-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
    background-color: azure;
}

.content-2 > .subtitle {
    display: flex;
    justify-content: center;
}

.content-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: chocolate;
    padding: 30px;
}

.content-3-text,
.quote {
    font-size: 36px;
    color: firebrick;
    font-style: italic;
}

.content-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: red;
    border-radius: 20px;
    padding: 25px;
    margin: 50px;
}

.content-4-left {

}

.content-4-right {

}

.quote {
    color: darkred;
    white-space: nowrap;
}

.image-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-content {
    padding: 20px;
    text-align: center;
}

.image-content > img {
    border-radius: 20px;
    margin: auto;
} 

.image-text {
    
}

.footer {
    background-color: coral;
}

.logo,
.header-links {
    display: flex;
    justify-content: center;
}

.logo {
    font-weight: 800px;
}